/* kanen custom theme over-ride and add-ons*/

$custom_primary: hsl(127, 87%, 31%);
$custom_secondary: hsl(279, 53%, 50%);
$custom_link: hsl(20, 100%, 40%);

$custom-primary-invert: findColorInvert($custom_primary);
$custom_secondary-invert: findColorInvert($custom_secondary);
$custom_link-invert: findColorInvert($custom_link);

$primary: $custom_primary;
$primary-invert: $custom-primary-invert;
$primary-light: findLightColor($primary);

$info: $custom_secondary;
$info-invert: $custom_secondary-invert;
$info-light: findLightColor($info);

$link: $custom_link;
$link-invert: $custom_link-invert;

$input-focus-border-color: rgba($info, 0.50);
$input-focus-box-shadow-color: rgba($info, 0.25);


// Typography over-ride
$family-sans-serif: "Roboto", "Helvetica", BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$family-serif: "Trebuchet MS", "Palatino", "Georgia", "Times New Roman", "Garamond", "Times-Roman", "Bookman", serif !default;
$render-mode: optimizeLegibility !default;
$family-secondary: $family-serif;


.is-family-secondary {
  font-family: $family-secondary;
}

.EDIT_COLOR {
  background-color: findLightColor($info) !important;
}
