$kanban-background-color: $background !default;
//$kanban-radius: $radius !default;
$kanban-radius: 0 0 0 0 !default;

$kanban-header-background-color: $text !default;
$kanban-header-color: $text-invert !default;
$kanban-header-weight: $weight-bold !default;
$kanban-header-padding: 0.75em 1em !default;
$kanban-header-radius: $kanban-radius !default;

$kanban-body-border-color: $border !default;
$kanban-body-border-width: 0 0 0 4px !default;
$kanban-body-color: $text !default;
$kanban-body-padding: 0.5em 0.75em !default;
//$kanban-body-radius: $radius !default;
$kanban-body-radius: $kanban-radius !default;

$kanban-body-pre-background-color: $white !default;
$kanban-body-pre-code-background-color: transparent !default;

$kanban-header-body-border-width: 0 !default;

.kanban {
  @extend %block;

  background-color: $kanban-background-color;
  border-radius: $kanban-radius;
  font-size: $size-normal;

  strong {
    color: currentColor;
  }

  a:not(.button):not(.tag):not(.dropdown-item) {
    color: currentColor;
    text-decoration: underline;
  }

  // Sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $color-lightning: max(100% - lightness($color) - 2%, 0%);
    $color-luminance: colorLuminance($color);
    $darken-percentage: $color-luminance * 70%;
    $desaturate-percentage: $color-luminance * 30%;

    &.is-#{$name} {
      background-color: lighten($color, $color-lightning);

      .message-header {
        background-color: $color;
        color: $color-invert;
      }

      .kanban-body {
        border-color: $color;
        color: desaturate(darken($color, $darken-percentage), $desaturate-percentage);
      }
    }
  }
}

.kanban-header {
  align-items: center;
  background-color: $kanban-header-background-color;
  border-radius: $kanban-header-radius $kanban-header-radius 0 0;
  color: $kanban-header-color;
  display: flex;
  font-weight: $kanban-header-weight;
  justify-content: space-between;
  line-height: 1.25;
  padding: $kanban-header-padding;
  position: relative;

  .view {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 0.75em;
  }

  & + .kanban-body {
    border-width: $kanban-header-body-border-width;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.kanban-body {
  border-color: $kanban-body-border-color;
  border-radius: $kanban-body-radius;
  border-style: solid;
  border-width: $kanban-body-border-width;
  color: $kanban-body-color;
  padding: $kanban-body-padding;

  code,
  pre {
    background-color: $kanban-body-pre-background-color;
  }

  pre code {
    background-color: $kanban-body-pre-code-background-color;
  }
}

.kanban-body-title {
  font-weight: bold;
}

.kanban-body-reference {
  font-weight: lighter;
  font-size: 0.8rem;
}
