/** print a div **/
@media print {
  body * {
    visibility: hidden;
    height: 0;
  }

  #general-print-area, #general-print-area * {
    visibility: visible;
  }

  #general-print-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0.75rem;
  }

  #section-to-print-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}


/** Navbar extra element **/
.has-navbar-widgets {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.navbar-widgets-burger {
  margin-left: 0 !important;
}

.navbar-widgets {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: $navbar-height;

  .navbar-item.has-dropdown {
    &.is-active,
    &.is-hoverable:focus,
    &.is-hoverable:focus-within,
    &.is-hoverable:hover {
      .navbar-link {
        background-color: transparent !important;
      }
    }
  }
}


/** overlay controls **/
.add-cursor {
  cursor: pointer;
}

.has-opacity {
  opacity: 0.95 !important;
}

/** input field indicator */
.field-error {
  border: 1px solid $danger;
  border-radius: $radius;
  padding: 0.25px;
}

.field-input-error {
  background-color: $danger-light;
}

/** alert box wrapper */
.alert-box-wrapper {
  position: fixed;
  top: 5rem;
  right: 1rem;
  width: 25rem;
  height: 100%;
}

/** modal box extra **/
.modal-card-narrow {
  margin: 0 $modal-content-margin-mobile;
  max-height: calc(100vh - #{$modal-content-spacing-mobile});
  overflow: auto;
  position: relative;
  width: 100%;

  // Responsiveness
  @include tablet {
    margin: 0 auto;
    max-height: calc(100vh - #{$modal-content-spacing-tablet});
    width: $modal-content-width * .75;
  }
}

/** column flex order items **/
@media screen and (max-width: $tablet) {
  .is-ordered-mobile {
    display: flex;
    flex-flow: column;
  }

  .is-ordered-mobile .is-order-off {
    display: none;
  }

  @for $i from 1 through 12 {
    .is-ordered-mobile > &.is-order-#{$i} {
      order: $i;
    }
  }
}
