/* main theme colour controls */

/** more colour controls **/
.has-bg-blue {
    background-color: #00c0ef !important;
    color: #fff !important;
}

.has-bg-blue-light {
    background-color: #c5edf7 !important;
    color: #000 !important;
}

.has-bg-blue-med {
    background-color: #0073b7 !important;
    color: #fff !important;
}

.has-bg-blue-dark {
    background-color: #0080af !important;
    color: #fff !important;
}

.has-bg-blue-navy {
    background-color: #331F3F !important;
    color: #fff !important;
}

.has-bg-teal-light {
    background-color: #39CCCC !important;
    color: #fff !important;
}

.has-bg-teal {
    background-color: #1ABB9C !important;
    color: #fff !important;
}

.has-bg-lime {
    background-color: #01FF70 !important;
    color: #000 !important;
}

.has-bg-green-light {
    background-color: #99e69a !important;
    color: #000 !important;
}

.has-bg-green {
    background-color: #00a65a !important;
    color: #fff !important;
}

.has-bg-olive {
    background-color: #3D9970 !important;
    color: #fff !important;
}

.has-bg-green-dark {
    background-color: #048444 !important;
    color: #fff !important;
}

.has-bg-orange-light {
    background-color: #FF851B !important;
    color: #000 !important;
}

.has-bg-orange {
    background-color: #f39c12 !important;
    color: #fff !important;
}

.has-bg-red {
    background-color: #dd4b39 !important;
    color: #fff !important;
}

.has-bg-fuchsia {
    background-color: #F012BE !important;
    color: #fff !important;
}

.has-bg-maroon {
    background-color: #BA1D67 !important;
    color: #fff !important;
}

.has-bg-purple {
    background-color: #605ca8 !important;
    color: #fff !important;
}


.has-text-blue {
  color: #00c0ef;
}

.has-text-blue-dark {
  color: #0080af;
}

.has-text-green {
  color: #00a65a;
}

.has-text-green-dark {
  color: #048444;
}

.has-text-green-light {
  color: #99e69a;
}

.has-text-orange {
  color: #f39c12;
}

.has-text-red {
  color: #dd4b39;
}

.has-text-teal {
  color: #1ABB9C;
}

.has-text-purple {
  color: #605ca8;
}

.has-text-maroon {
  color: #D81B60;
}


.border-blue        {border: 1px solid #00c0ef ;}
.border-blue-dark   {border: 1px solid #0080af ;}
.border-green       {border: 1px solid #00a65a ;}
.border-green-dark  {border: 1px solid #048444 ;}
.border-green-light {border: 1px solid #99e69a ;}
.border-orange      {border: 1px solid #f39c12 ;}
.border-red         {border: 1px solid #dd4b39 ;}
.border-teal        {border: 1px solid #1ABB9C ;}
.border-white       {border: 1px solid #FFFFFF ;}
.border-purple      {border: 1px solid #605ca8 ;}
.border-maroon      {border: 1px solid #D81B60 ;}


.has-border-blue {
    border-color: #00c0ef !important;
}

.has-border-blue-dark {
    border-color: #0080af !important;
}

.has-border-green {
    border-color: #00a65a !important;
}

.has-border-green-dark {
    border-color: #048444 !important;
}

.has-border-green-light {
    border-color: #99e69a !important;
}

.has-border-orange {
    border-color: #f39c12 !important;
}

.has-border-red {
    border-color: #dd4b39 !important;
}

.has-border-teal {
    border-color: #1ABB9C !important;
}

.has-border-white {
    border-color: #FFFFFF !important;
}

.has-border-purple {
    border-color: #605ca8 !important;
}

.has-border-maroon {
    border-color: #D81B60 !important;
}



/* other colours  */
.extra-blue {
    color: #0073b7;
}

.extra-navy {
    color: #001F3F;
}

.extra-teal {
    color: #39CCCC;
}

.extra-olive {
    color: #3D9970;
}

.extra-lime {
    color: #01FF70;
}

.extra-orange {
    color: #FF851B;
}

.extra-fuchsia {
    color: #F012BE;
}

.extra-purple {
    color: #605ca8;
}

.extra-maroon {
    color: #D81B60;
}

.extra-black {
    color: #111;
}
.extra-gray-lte {color: #d2d6de;}